h1{
    text-align: center;
}
h2{
    color: #330066;
}
h3{
    color: #330066;
}
body{
    background: url('/static/banner.png') repeat-x;
    background-color: #E8E8E8;
}
tr{
    background-color: white;
}
ul.dropdown-menu-form {
    padding: 5px 10px 0;
    max-height: 300px;
    overflow-y: scroll;
}
.header.banner{
    padding-bottom: 1px;
    margin-bottom: 1px;

}
a:link {
    color: #663399;
}

a:visited {
    color: #663399;
}

a:hover {
    color: #663399;
}

a:active {
    color: #663399;
}

.header.logo {
    margin-top: 5px;
    padding-bottom: 13px;
}

.header.logo.small {
    margin-top: 7px;
    padding-bottom: 11px;
}

.header.slogan {
    position: absolute;
    top: 21px;
}

.header.rightlinks {
    float: right;
    display: block;
}

.header.rightlink {
    margin: 5px;
}

.header.loginlinks {
    float: right;
    margin-right: 3px;
}

.header.text {
    color: white;
    padding-top: 5px;
}

.header.text a:link {
    text-decoration: none;
    color: white;
}

.header.text a:visited {
    text-decoration: none;
    color: white;
}

.header.text a:hover {
    text-decoration: none;
    color: white;
}

.header.text a:active {
    text-decoration: none;
    color: white;
}

a.btn{
    color: black;
}

.btn-default {
    text-shadow: 0px 1px 0px #FFF;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #CCC;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: none;
}

select {
    height:30px;
    text-shadow: 0px 1px 0px #FFF;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #CCC;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: none;
}

.pagination-sm > li > a, .pagination-sm > li > span,.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    text-shadow: 0px 1px 0px #FFF;
    height: 30px;
    background-image: none;
    background-repeat: repeat-x;
    border-color: #CCC;
    -webkit-border-top-right-radius: 0 !important;
    -moz-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -webkit-border-top-left-radius: 0 !important;
    -moz-border-top-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    -moz-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    -webkit-border-bottom-left-radius: 0 !important;
    -moz-border-bottom-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    box-shadow: none;
}

.dropdown-menu{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]{
    margin-right: 3px;
}

input[type="text"]{
    margin-bottom: 5px;
}

label{
    font-weight: 400 !important;
}

textarea{
    resize: none;
}

.fixed{
    table-layout:fixed;
    word-wrap: break-word;
}

.postcolumn{
    white-space:normal;
    max-width: 400px;
    min-width: 300px;
}

#quickreply{
    position: fixed;
    float: right;
    border: 1px solid #000;
    bottom: -222px;
    right: 59px;
    width: 300px;
    height: 242px;
}

#topbutton {
    text-align: center;
    position: fixed;
    right: 20px;
    width: 40px;
    border: 1px solid #000;
    bottom: -2px;
}

.searchbox {
    height:30px;
    margin-right:-5px;
}

.searchform {
    display: inline-block;
    float: right;
}

.searchbutton {
    margin-top: -3px;
    margin-right: 4px;
}

.hljs {
    border: 1px solid #DDD;
    background: none repeat scroll 0% 0% #F5F5F5;
}

pre {
    border: 0px;
    padding: 0px;
    display: auto;
    border-radius: 0px;
}

.pagination {
    margin: 0px;
    margin-bottom: -9px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background-color: #330066;
    border-color: #663399;
}

.pagination>li>a, .pagination>li>span{
    color: #663399;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #663399;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus{
    cursor: default;
}

@media (max-width: 991px){
    .flex-video {
        position: relative;
        padding-top: 25px;
        padding-bottom: 67.5%;
        height: 0;
        margin-bottom: 16px;
        overflow: hidden;
    }

    .flex-video.widescreen { padding-bottom: 57.25%; }
    .flex-video.vimeo { padding-top: 0; }

    .flex-video iframe,
    .flex-video object,
    .flex-video embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    @media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }
    }
}

textarea {
    resize: vertical;
}

th.thread-row {
    background-color: #330066;
    color: white;
}

.thread-row.centered {
    text-align:center;
    vertical-align:middle;
}

.thread-name.centered {
    vertical-align:middle;
}

.rightbuttons {
    float: right;
    display: block;
    margin-bottom: 5px;
}

.thread-icon {
    color: #330066;
}

.post-content {
    vertical-align: top;
}

.main-table {
    margin-bottom: 5px;
    margin-top: 5px;
}

.fake-copyright {
    padding-top: 20px;
}

.invisiblebutton {
    background: transparent;
    border: none !important;
    font-size: 0;
}